doctype html
html
head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet")
    script(src='/javascripts/admin.js')
body
    div.navbar
      button#home Home
      if !user_id
        button#signup Create an Account
        button#signin Sign In
      else
        button#signout Sign Out
        button#profile Profile
      button#leaderboard Leaderboard
      button#recentlyJoined Recently Joined
    div.admin
      h1 Admin Dashboard
      input#username(type='text' placeholder='username' name='username')
      input#cash(type='text' placeholder='cash' name='cash')
      button#setCash Set Cash