extends layout

block content
  div.navbar
    if !user_id
      button#signup Create an Account
      button#signin Sign In
    else
      button#signout Sign Out
  h1= title
  p Welcome to #{title}
  div.the_button
    button The Button
