doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/index.js')
  body
    div.navbar
      if !user_id
        button#signup Create an Account
        button#signin Sign In
      else
        button#signout Sign Out
    h1= title
    p Welcome #{user_id}
    if user_id
      .the_button
        button#theButton The Button
