doctype html
html
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
head
    title= title
body
    -for(var row in data)
        p #{data[row].username} has $#{data[row].cash}