doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/signup.css')
    script(src='/javascripts/signup.js')
  body
    form.signup-form(name="signup-form" onsubmit="return validateForm()" action="/signup" method="POST")
        input#username(type='text' placeholder='username' name='username')
        input#password(type='password' placeholder='password' name='password')
        input#password_confirm(type='password' placeholder='confirm password' name='password_confirm')
        button#submit Create Account

