doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet")
    script(src='/javascripts/signin.js')
  body
    if reattempt == 'true'
      script.
        alert("Sign-in failed. Please check your credentials and try again.");
    form.login-form(name="login-form" onsubmit="return validateForm()" action="/signin" method="POST")
        input#username(type='text' placeholder='username' name='username')
        input#password(type='password' placeholder='password' name='password')
        button#submit Sign In

