body {
  background-color: white;
  margin: 0px;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.navbar {
  width: 100%;
  background-color: green;
}

div.navbar button {
  outline: none;
  height: 100%;
  background-color: green;
  border: none;
  color: white;
  font-size: 20px;
  padding: 20px;
}

div.navbar button:hover {
  background-color: black;
  cursor: pointer;
}

div.the_button {
  text-align: center;
}

div.the_button p {
  font-size: 24px;
}

div.the_button button {
  color: white;
  outline: none;
  border: none;
  border-radius: 14px;
  background-color: black;
  font-size: 32px;
  padding: 20px;

  touch-action: manipulation;
}

div.the_button button:hover {
  background-color: green;
  cursor: pointer;

  touch-action: manipulation;
}

div.joke {
  margin-top: 50px;
}
